bcrypt==3.2.2 
cryptography==39.0.1
flask==3.1.2
flask-jwt-extended==4.7.1
flask-smorest==0.46.2
Flask-SQLAlchemy==3.0.5
greenlet
marshmallow==4.1.0
passlib==1.7.4
pre-commit==2.9.2
psycopg2-binary>=2.9.9
requests==2.31.0
SQLAlchemy==2.0.20
